<style>
    .image {
        background-image: url(https://picsum.photos/900/400) !important;
        height:100%;
        width: 100%;
        border-radius: 15px;
    }
    .hero {
        background-color: #ebebeb !important;
    }
    .bg-card {

    }
</style>

<section>
    <div class="position-relative overflow-hidden p-3 p-md-5 text-center bg-light hero">
        <div class="row my-4">
            <div class="col-md-6 p-lg-5 mx-auto my-5 float-left" style="text-align: left;">
                <h1 class="display-5 fw-normal">Entreprises & freelances étaient faits pour se rencontrer</h1>
                <p class="lead fw-normal">Trouvez le talent parfait pour propulser vos projets</p>
            </div>
            <div class="col-md-6 p-lg-5 mx-auto float-right">
                <div class="image"></div>
            </div>
        </div>
        <div class="row shadow p-3" style="border-radius: 10px;">
            <div class="col-md-3">
                <input class="form-control me-2 rounded-pill" type="search" placeholder="Essayez 'Java', 'Développeur Backend' ..." aria-label="Search">
            </div>
            <div class="col-md-3">
                <input class="form-control me-2 rounded-pill" type="search" placeholder="Lieu de la mission" aria-label="Search">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3 d-flex justify-content-end">
                <button class="btn btn-outline-success rounded-pill" type="submit">Trouver un freelance</button>
            </div>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>
</section>

<section class="mt-5">
    <div class="text-center mt-5">
        <h1 class="display-6 fw-bolder">Vous allez adorer cette nouvelle façon de collaborer</h1>
    </div>
    <div class="row p-5">
        <div class="col-5 pt-5" style="text-align: left;">
            <h1 class="display-6 fs-4 fw-bold">Boostez votre carrière freelance</h1>
            <p class="lead fw-normal fs-6">
                Recevez des offres de missions en adéquation avec vos compétences et communiquez directement avec des clients potentiels issus de tous les secteurs. Grâce à Malt-bis, réduisez vos tâches administratives à l'aide de nos outils en ligne ; faites-vous payer rapidement à la fin de la mission ; et gardez l'esprit tranquille : toutes vos missions sont automatiquement garanties.
            </p>
            <button class="btn btn-primary mt-3 rounded-pill">Rejoindre la communauté</button>
        </div>

        <div class="col-7">
            <img style="max-width: 95%;" src="https://images.prismic.io/malt-cms-marketing/1bd45af1-d7de-430c-a4a8-9c530e8b0dc6_2022_REBRAND_WEBSITE_HOME_CONTENT-1.png?auto=enhance,format&w=900&h=493">
        </div>
    </div>
</section>
<section>
    <div class="row p-5">
        <div class="col-7">
            <img style="max-width: 95%;" src="https://images.prismic.io/malt-cms-marketing/5dfe75b2-3104-4ad2-a14f-757be59cf1e4_2022_REBRAND_WEBSITE_HOME_CONTENT-2.png?auto=enhance,format&w=900&h=493">
        </div>
        <div class="col-5 pt-4" style="text-align: left;">
            <h1 class="display-6 fs-4 fw-bold">Trouvez le bon profil en deux clics</h1>
            <p class="lead fw-normal fs-6">
                Partez à la recherche de votre expert parmi nos 550 000 talentueux freelances ou entrez en contact avec les meilleurs profils disponibles pour votre projet. Consultez les avis et expériences, et discutez directement avec les freelances pour pouvoir les engager en quelques clics. Nous vous garantissons une collaboration simple et sécurisée, avec des contrats et un processus de paiement entièrement digitalisés. Trouvez votre expert, nous nous occupons du reste.
            </p>
            <button class="btn btn-primary mt-3 rounded-pill">Trouver le freelance idéal</button>
        </div>
    </div>
</section>

<section>
<div class=" container p-4 p-md-5 mb-4" style="background-color: #ecf3f4; border-radius: 15px;">
    <div class="row">
        <div class="col-md-3 px-0">
            <div class="bg-card"></div>
            <img style="border-radius: 120px;" src="https://images.prismic.io/malt-cms-marketing/fe9f086b-8142-463a-9d95-ab4b3708fd3d_portrait_thin2.png?auto=compress,format">
        </div>
        <div class="col-md-9 px-0">
        <h1 class="display-6">Le consulting, avec un maximum de flexibilité</h1>
        <p class="lead my-3 fs-6">
            Malt Strategy est une communauté exclusive de consultants en management et de managers de transition indépendants. Nous apportons notre savoir-faire en matière de mise en relation aux organisations de tous secteurs d’activité.
        </p>
        <p class="lead mb-0"><a href="#" class="btn btn-primary text-white rounded-pill">En savoir plus</a></p>
        </div>
    </div>
  </div>
</section>